<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taotao.admin.mapper.SysRoleMenuMapper" >
  <resultMap id="BaseResultMap" type="com.taotao.admin.entity.SysRoleMenu" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="menu_id" property="menuId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, role_id, menu_id
  </sql>
  <select id="selectMenuIdList" resultType="java.lang.Long">
  	select menu_id from sys_role_menu where role_id = #{value}
  </select>
  
  <delete id="deleteBatch">
  	delete from sys_role_menu where role_id IN
  	<foreach collection="array" item="roleId" open="(" separator="," close=")">
  		#{roleId}
  	</foreach>
  </delete>
</mapper>